{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Estilos personalizados para la página de bienvenida */
    body {
        background-color: #e6f7ff;
        font-family: 'Oswald', sans-serif;
    }

    .welcome-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .welcome-container h2 {
        font-family: 'Anton', sans-serif;
        font-size: 36px;
    }

    .section-btn {
        display: block;
        padding: 10px 30px;
        margin: 10px 0;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        font-size: 18px;
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .section-btn:hover {
        background-color: #f2f2f2;
        transform: scale(1.05);
        color: black;
    }

    .btn-primary {
        background-color: #007BFF;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    /* Nuevo estilo para el botón de actividades del estudiante */
    .btn-actividades {
        background-color: #28a745; /* Un verde estándar para el botón */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="welcome-container">
                <h2>Bienvenido, {{ username }}</h2>
                <p>Elige una de las siguientes opciones para continuar:</p>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="section-btn btn-secondary">Ir a mi Perfil</a>
                    <a href="{% url 'actividades_estudiante' %}" class="section-btn btn-actividades">Actividades del Estudiante</a>
                    <a href="{% url 'logout' %}" class="section-btn btn-danger">Cerrar Sesión</a>                  
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
