{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Estilos personalizados para la página de bienvenida */
    body {
        background-color: #e6f7ff;
        font-family: 'Oswald', sans-serif; /* Configura la fuente Oswald como default para todo el body */
    }

    .welcome-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .welcome-container h2 {
        font-family: 'Anton', sans-serif; /* Configura la fuente Anton para los títulos h2 */
        font-size: 36px; /* Ajusta el tamaño si es necesario */
    }

    .section-btn {
        display: block;
        padding: 40px 30px;
        margin: 20px 0;
        border-radius: 10px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        font-size: 20px;
        text-align: left;
        color: white; /* Texto blanco para resaltar en fondos oscuros */
        text-decoration: none; /* Remover subrayado de enlaces */
    }

    .section-btn:hover {
        background-color: #f2f2f2;
        transform: scale(1.05);
        color: black;  /* Texto negro cuando se pasa el cursor por encima */
    }

    .btn-primary {
        background-color: #007BFF;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    .btn-danger {
        background-color: #dc3545;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="welcome-container">
                <h2>Bienvenido, {{ username }}</h2>
                <p>Elige una de las siguientes opciones para continuar:</p>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'drag_drop_view' %}" class="section-btn btn-primary">Test dragDrop</a>
                    <a href="{% url 'profile' %}" class="section-btn btn-secondary">Ir a mi Perfil</a>
                    <a href="{% url 'logout' %}" class="section-btn btn-danger">Cerrar Sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
