{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Crear actividad para el salón: {{ salon.nombre }}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.numero_ecuaciones.id_for_label }}">{{ form.numero_ecuaciones.label }}</label>
                    {{ form.numero_ecuaciones }}
                </div>
                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
