{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Detalles del salón: {{ salon.nombre }}</h2>
            
            <h4>Estudiantes enrolados:</h4>
            <ul>
            {% for estudiante in estudiantes %}
                <li>{{ estudiante.username }}</li>
            {% endfor %}
            </ul>
            <h4>Actividades:</h4>
            <ul>
                {% for actividad in actividades %}
                    <li>{{ actividad.fecha_creacion }} - {{ actividad.ecuaciones.count }} ecuaciones</li>
                {% endfor %}
                </ul>

                <a href="{% url 'crear_actividad' salon.id %}" class="btn btn-primary">Crear actividad</a>
        </div>
    </div>
</div>
{% endblock %}
