{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* Estilos para el fondo */
    body {
        background-color: #e6f7ff;
        font-family: 'Oswald', sans-serif; /* Fijamos la fuente Oswald para el cuerpo */
    }

    /* Estilos para el contenedor principal */
    .container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-top: 30px;
        text-align: center;
    }

    h2 {
        font-family: 'Anton', sans-serif; /* Fijamos la fuente Anton para los títulos */
        margin-bottom: 20px;
    }

    /* Estilos para el botón */
    .btn-primary {
        background-color: #007BFF;
        border: none;
        margin-top: 20px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    /* Estilos para los enlaces */
    a {
        color: #007BFF;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    /* Estilos para el formulario */
    .form-control {
        border-radius: 5px;
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 128, 255, 0.5);
    }

    /* Estilos para la imagen del icono */
    img.img-thumbnail {
        border: 2px solid #007BFF;
        border-radius: 50%;
        margin-top: 10px;
        max-width: 150px;
    }

    .user-details {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .user-detail {
        flex: 1;
        font-size: 18px;
        text-align: center;
    }

    /* Estilo para el formulario con alineación del botón */
    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form button {
        margin-left: 10px;
    }
</style>

<div class="container">
    <div class="user-icon">
        {% if request.user.profile_icon %}
            <img src="{{ request.user.profile_icon.url }}" alt="Icono" class="img-thumbnail">
        {% else %}
            <p>No has asignado un icono de perfil.</p>
        {% endif %}
    </div>

    <h2>{{ request.user.username }}</h2>

    <!-- Formulario para actualizar el icono -->
    <form method="post" class="update-form">
        {% csrf_token %}
        {{ form.profile_icon.label_tag }}
        {{ form.profile_icon }}
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </form>

    <!-- Detalles del usuario en la misma línea -->
    <div class="mt-4 user-details">
        <div class="user-detail">
            <strong>Puntos:</strong> {{ request.user.points }}
        </div>
        <div class="user-detail">
            <strong>Clase:</strong> {{ request.user.user_class }}
        </div>
    </div>
</div>
{% endblock %}
